/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding-top: 80px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

header h1 {
    font-size: 1.8em;
    color: #333;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #8b0000;
    font-weight: 700;
}

header nav ul li a:hover {
    color: #5a0000;
}

/* Main Content */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
}

.profile-about {
    display: flex;
    align-items: center;
}

.profile-photo {
    flex-shrink: 0;
    margin-right: 40px; /* Increased space between image and text */
}

.profile-img {
    width: 220px;
    height: 320px; /* Larger size and stretched vertically */
    border-radius: 50%; /* Oval shape */
    object-fit: cover;}

.about-me {
    max-width: 600px;
}

.about-me h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #333;
}

.about-me p {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
}

footer p {
    color: #555;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-photo {
        margin: 0 0 20px 0;
    }

    .profile-img {
        width: 180px;
        height: 225px;
    }

    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 1.6em;
    }

    header nav ul {
        margin-top: 10px;
    }

    header nav ul li {
        margin-left: 0;
        margin-right: 20px;
    }
    footer {
        background-color: #f1f1f1;
        padding: 10px 0;
        margin-top: 10px;
        text-align: center;
        font-size: 1.5em;
    }
    
    footer p {
        color: #555;
        margin: 0;
    }
}

/* Social Media Icons */
.social-links {
    list-style-type: none;
    padding: 5px 0; /* Reduced padding to minimize space around icons */
    margin: 0; /* Remove extra margin around the list */
}

.social-links li {
    display: inline;
    margin: 0 8px; /* Reduced margin between icons */
}

.social-links a {
    text-decoration: none;
    color: #8b0000;
    font-size: 1.5em;
}

.social-links a:hover {
    color: #5a0000;
}
